# [Mercari Price Suggestion Challenge](https://www.kaggle.com/c/mercari-price-suggestion-challenge)
Can you automatically suggest product prices to online sellers?

# Import packages

In [85]:
import pandas as pd #data processing
import numpy as np #linear algebra
from scipy import stats
from scipy.cluster.hierarchy import linkage, dendrogram

%matplotlib inline
import matplotlib.pyplot as plt #commonly used visualization tool
import seaborn as sns #new visualization tool
from string import ascii_letters
from wordcloud import WordCloud

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV #hyper-parameter tuning
from sklearn.ensemble import RandomForestRegressor

# Import data

set train and test data, split by tab because of the tsv format.

In [56]:
%%time
train_df = pd.read_csv("data/train.tsv", delimiter='\t', low_memory= True)
test_df = pd.read_csv("data/test.tsv", delimiter='\t', low_memory= True)

CPU times: user 7.46 s, sys: 1.25 s, total: 8.71 s
Wall time: 8.07 s

In [57]:
train_df.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.000000,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.000000,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.000000,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.000000,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.000000,0,Complete with certificate of authenticity

In [58]:
train_df.columns

Index(['train_id', 'name', 'item_condition_id', 'category_name', 'brand_name',
       'price', 'shipping', 'item_description'],
      dtype='object')

### converting column types

In [59]:
print(train_df.dtypes)
print("------------")
print(test_df.dtypes)

train_id               int64
name                  object
item_condition_id      int64
category_name         object
brand_name            object
price                float64
shipping               int64
item_description      object
dtype: object
------------
test_id               int64
name                 object
item_condition_id     int64
category_name        object
brand_name           object
shipping              int64
item_description     object
dtype: object

In [60]:
train_df["item_condition_id"] = train_df["item_condition_id"].astype("int32")
train_df["shipping"] = train_df["shipping"].astype("int8")

test_df["item_condition_id"] = test_df["item_condition_id"].astype("int32")
test_df["shipping"] = test_df["shipping"].astype("int8")

In [61]:
print(train_df.dtypes)
print("------------")
print(test_df.dtypes)

train_id               int64
name                  object
item_condition_id      int32
category_name         object
brand_name            object
price                float64
shipping                int8
item_description      object
dtype: object
------------
test_id               int64
name                 object
item_condition_id     int32
category_name        object
brand_name           object
shipping               int8
item_description     object
dtype: object

do a little exploring on discriptive statistics

In [62]:
print('train_df shape: {}\ntest_df shape: {}'.format(train_df.shape, test_df.shape))

train_df shape: (1482535, 8)
test_df shape: (693359, 7)

In [63]:
pd.set_option('float_format', '{:f}'.format)
train_df.describe()

            train_id  item_condition_id          price       shipping
count 1482535.000000     1482535.000000 1482535.000000 1482535.000000
mean   741267.000000           1.907380      26.737516       0.447274
std    427971.135004           0.903159      38.586066       0.497212
min         0.000000           1.000000       0.000000       0.000000
25%    370633.500000           1.000000      10.000000       0.000000
50%    741267.000000           2.000000      17.000000       0.000000
75%   1111900.500000           3.000000      29.000000       1.000000
max   1482534.000000           5.000000    2009.000000       1.000000

checking individual values

In [64]:
train_df.apply(lambda x: x.nunique())

train_id             1482535
name                 1225273
item_condition_id          5
category_name           1287
brand_name              4809
price                    828
shipping                   2
item_description     1281426
dtype: int64

# data preprocessing

### checking missing values

found missing values in category_name, brand_name, and item_discription

In [65]:
print(train_df.isnull().sum()[train_df.isnull().sum() != 0])
print("------------")
print(test_df.isnull().sum()[test_df.isnull().sum() != 0])

category_name         6327
brand_name          632682
item_description         4
dtype: int64
------------
category_name      3058
brand_name       295525
dtype: int64

- Fill products with no brand name with 'NoBrand'
- Fill products with no category name with 'No/No/No'
- Fill products with no item descriptions with 'No description yet' (same as the first data)

In [66]:
train_df["brand_name"] = train_df["brand_name"].fillna("NoBrand")
test_df["brand_name"] = test_df["brand_name"].fillna("NoBrand")

train_df["category_name"] = train_df["category_name"].fillna("No/No/No")
test_df["category_name"] = test_df["category_name"].fillna("No/No/No")

train_df["item_description"] = train_df["item_description"].fillna("No description yet")

In [67]:
print(train_df.isnull().sum()[train_df.isnull().sum() != 0])
print("------------")
print(test_df.isnull().sum()[test_df.isnull().sum() != 0])

Series([], dtype: int64)
------------
Series([], dtype: int64)

# feature engineering

extracting data from category_name, brand_name, and item_discription

split category_name into:
- general_category
- subcategory_1
- subcategory_2

In [68]:
split_category_name = train_df["category_name"].str.split("/", n = 2, expand = True)
split_category_name

                         0                    1                    2
0                      Men                 Tops             T-shirts
1              Electronics  Computers & Tablets   Components & Parts
2                    Women       Tops & Blouses               Blouse
3                     Home           Home Décor   Home Décor Accents
4                    Women              Jewelry            Necklaces
...                    ...                  ...                  ...
1482530              Women              Dresses             Mid-Calf
1482531               Kids          Girls 2T-5T              Dresses
1482532  Sports & Outdoors             Exercise  Fitness accessories
1482533               Home           Home Décor   Home Décor Accents
1482534              Women  Women's Accessories              Wallets

[1482535 rows x 3 columns]

In [69]:
train_df['general_category'] = split_category_name[0]
train_df['subcategory_1'] = split_category_name[1]
train_df['subcategory_2'] = split_category_name[2]

In [70]:
split_category_name_2 = test_df["category_name"].str.split("/", n = 2, expand = True)
split_category_name_2

,0,1,2
0,Women,Jewelry,Rings
1,Other,Office supplies,Shipping Supplies
2,Vintage & Collectibles,Bags and Purses,Handbag
3,Women,Sweaters,Cardigan
4,Other,Books,Religion & Spirituality
...,...,...,...
693354,Home,Home Décor,Home Décor Accents
693355,Beauty,Makeup,Makeup Sets
693356,Electronics,Cell Phones & Accessories,"Cases, Covers & Skins"
693357,Women,Swimwear,Cover-Ups
693358,Women,Tops & Blouses,T-Shirts

In [71]:
test_df['general_category'] = split_category_name_2[0]
test_df['subcategory_1'] = split_category_name_2[1]
test_df['subcategory_2'] = split_category_name_2[2]

In [72]:
train_df.drop(columns =["category_name"], inplace = True) 

test_df.drop(columns =["category_name"], inplace = True)

dealing with item_description
<br>[Extensive Text Data Feature Engineering](https://www.kaggle.com/shivamb/extensive-text-data-feature-engineering)
- character length
- word count
- word density
- puncutation count

In [82]:
train_df["char_count"] = train_df["item_description"].apply(len)
train_df["word_count"] = train_df["item_description"].apply(lambda x: len(x.split()))
train_df['word_density'] = train_df['char_count'] / (train_df['word_count']+1)

test_df["char_count"] = test_df["item_description"].apply(len)
test_df["word_count"] = test_df["item_description"].apply(lambda x: len(x.split()))
test_df['word_density'] = test_df['char_count'] / (test_df['word_count']+1)

[CountVectorizer, TfidfVectorizer, Predict Comments](https://www.kaggle.com/adamschroeder/countvectorizer-tfidfvectorizer-predict-comments)
<br>[Feature Engineering + Tfidfvectorizer](https://www.kaggle.com/anu0012/feature-engineering-tfidfvectorizer)
- TFIDF

In [118]:
vectorizer = TfidfVectorizer(min_df=3, max_features=2500, dtype=np.float32, 
                             strip_accents='unicode', analyzer='word', ngram_range=(1, 3), stop_words={'english', 'rm'})

In [119]:
%%time
description_text = list(train_df["item_description"].values)
tfidf_matrix = vectorizer.fit_transform(description_text)

In [120]:
tfidf_matrix

<1482535x2500 sparse matrix of type '<class 'numpy.float32'>'
	with 33068023 stored elements in Compressed Sparse Row format>

In [121]:
tfidf_matrix.shape

(1482535, 2500)

The learned corpus vocabulary

In [122]:
vectorizer.vocabulary_

{'no': 1393,
 'description': 593,
 'yet': 2462,
 'no description': 1395,
 'description yet': 594,
 'no description yet': 1396,
 'this': 2162,
 'is': 1035,
 'in': 975,
 'great': 867,
 'condition': 513,
 'and': 122,
 'works': 2432,
 'like': 1160,
 'it': 1059,
 'came': 407,
 'out': 1535,
 'of': 1443,
 'the': 2114,
 'box': 326,
 'all': 93,
 'are': 181,
 'tested': 2098,
 'work': 2429,
 'perfectly': 1594,
 'lights': 1158,
 'via': 2314,
 'app': 173,
 'on': 1466,
 'your': 2491,
 'pc': 1581,
 'is in': 1043,
 'in great': 983,
 'great condition': 868,
 'condition and': 514,
 'out of': 1539,
 'of the': 1449,
 'the box': 2119,
 'all of': 102,
 'on your': 1484,
 'is in great': 1045,
 'in great condition': 984,
 'adorable': 85,
 'top': 2221,
 'with': 2392,
 'lace': 1118,
 'key': 1102,
 'hole': 944,
 'back': 228,
 'pink': 1618,
 '1x': 18,
 'also': 110,
 'have': 910,
 '3x': 48,
 'available': 222,
 'white': 2367,
 'top with': 2226,
 'in the': 998,
 'the back': 2115,
 'also have': 111,
 'available in': 224,
 'in the back': 999,
 'new': 1357,
 'tags': 2073,
 'leather': 1132,
 'retail': 1757,
 'for': 757,
 'each': 651,
 'stand': 2008,
 'about': 67,
 'foot': 756,
 'high': 935,
 'they': 2152,
 'being': 272,
 'sold': 1977,
 'as': 198,
 'pair': 1564,
 'any': 167,
 'questions': 1715,
 'please': 1628,
 'ask': 209,
 'free': 792,
 'shipping': 1865,
 'just': 1095,
 'got': 865,
 'storage': 2027,
 'new with': 1380,
 'with tags': 2408,
 'for each': 764,
 'they are': 2153,
 'sold as': 1978,
 'any questions': 169,
 'questions please': 1717,
 'please ask': 1629,
 'free shipping': 800,
 'new with tags': 1382,
 'any questions please': 170,
 'questions please ask': 1718,
 'complete': 510,
 'bottoms': 318,
 'skirt': 1935,
 'matching': 1248,
 'suit': 2047,
 'size': 1914,
 'small': 1945,
 'but': 385,
 'straps': 2033,
 'slightly': 1940,
 'to': 2180,
 'fit': 734,
 'xs': 2456,
 'that': 2108,
 'perfect': 1591,
 'size small': 1925,
 'to fit': 2189,
 'perfect condition': 1592,
 'you': 2465,
 'get': 835,
 'three': 2171,
 'pairs': 1566,
 'shorts': 1888,
 'medium': 1269,
 'girls': 841,
 'two': 2253,
 'sports': 1996,
 'bra': 333,
 'boy': 331,
 'spandex': 1992,
 'sets': 1843,
 'items': 1079,
 'total': 2228,
 'store': 2028,
 'can': 409,
 'take': 2076,
 'today': 2209,
 'less': 1143,
 'than': 2100,
 'price': 1670,
 'one': 1490,
 'item': 1076,
 'at': 216,
 'you get': 2473,
 'pairs of': 1567,
 'shorts size': 1889,
 'small and': 1946,
 'sports bra': 1997,
 'all items': 98,
 'and you': 161,
 'you can': 2468,
 'less than': 1144,
 'the price': 2137,
 'at the': 219,
 'plus': 1647,
 'green': 875,
 'pants': 1571,
 'after': 87,
 'picture': 1608,
 'were': 2357,
 'very': 2306,
 'dirty': 609,
 'so': 1965,
 'hand': 885,
 'washed': 2336,
 'them': 2145,
 'he': 920,
 'has': 901,
 'body': 305,
 'head': 921,
 'hands': 892,
 'feet': 718,
 'before': 267,
 'too': 2215,
 'tall': 2079,
 'or': 1509,
 'cracks': 551,
 'minor': 1288,
 'paint': 1563,
 'loss': 1204,
 'few': 719,
 'doll': 624,
 'the picture': 2135,
 'they were': 2156,
 '25': 27,
 'oz': 1550,
 'full': 818,
 'sephora': 1839,
 'full size': 819,
 'size is': 1922,
 'vs': 2324,
 'fresh': 807,
 'clean': 462,
 'sun': 2049,
 'cool': 535,
 'bright': 352,
 'sweet': 2067,
 'vs pink': 2325,
 'xl': 2455,
 'authentic': 221,
 'suede': 2045,
 'boots': 311,
 'if': 963,
 'between': 279,
 'sizes': 1930,
 'love': 1211,
 'wearing': 2349,
 'thick': 2157,
 'socks': 1974,
 'during': 646,
 'winter': 2390,
 'be': 250,
 'well': 2355,
 'did': 604,
 'last': 1126,
 'condition size': 521,
 'if you': 965,
 'you are': 2466,
 'perfect for': 1593,
 'for you': 782,
 'as well': 205,
 'great condition size': 870,
 'if you are': 966,
 'brand': 338,
 'deluxe': 589,
 'travel': 2237,
 'products': 1691,
 'contains': 530,
 '12': 9,
 'blush': 303,
 'lip': 1173,
 'birthday': 286,
 'brand new': 340,
 'travel size': 2238,
 'glitter': 846,
 'and one': 144,
 'color': 483,
 'coral': 536,
 'retails': 1759,
 'baby': 227,
 'tan': 2081,
 'made': 1222,
 'fabric': 695,
 'away': 225,
 'moisture': 1302,
 'sweat': 2064,
 'over': 1544,
 '90': 61,
 'provides': 1700,
 'unique': 2261,
 'control': 532,
 'weight': 2353,
 'across': 73,
 'double': 630,
 'design': 595,
 'shirt': 1879,
 'new in': 1364,
 'in box': 977,
 'size medium': 1924,
 'retails for': 1760,
 'for the': 780,
 'is made': 1048,
 'made of': 1225,
 'back and': 229,
 'brand new in': 342,
 'new in box': 1365,
 'by': 404,
 'faced': 697,
 'mint': 1289,
 'still': 2018,
 'original': 1520,
 'part': 1574,
 'christmas': 458,
 '2016': 20,
 'collection': 482,
 'pretty': 1669,
 'eye': 689,
 'shadow': 1849,
 'colors': 489,
 'sized': 1929,
 'better': 278,
 'mascara': 1245,
 'never': 1348,
 'even': 672,
 'swatched': 2063,
 'shape': 1851,
 'includes': 1010,
 'day': 574,
 'priority': 1687,
 'too faced': 2218,
 'is brand': 1037,
 'mint condition': 1290,
 'still in': 2021,
 'in original': 990,
 'original box': 1521,
 'part of': 1575,
 'it has': 1066,
 'eye shadow': 690,
 'price includes': 1673,
 'shipping with': 1876,
 'is brand new': 1038,
 'casual': 433,
 'dress': 633,
 'up': 2267,
 'down': 631,
 '100': 2,
 'polyester': 1659,
 'once': 1485,
 'purchased': 1704,
 'from': 811,
 'people': 1589,
 'dry': 640,
 '100 polyester': 7,
 'purchased from': 1705,
 'free people': 796,
 'worn': 2435,
 'excellent': 679,
 'worn once': 2442,
 'excellent condition': 680,
 'nwt': 1440,
 'victoria': 2315,
 'secret': 1825,
 'ultimate': 2256,
 'sport': 1995,
 'support': 2057,
 'victoria secret': 2316,
 'reasonable': 1739,
 'offers': 1459,
 'lowest': 1215,
 'll': 1190,
 'phone': 1602,
 'was': 2334,
 'opened': 1508,
 'under': 2258,
 'mobile': 1300,
 'now': 1436,
 'been': 263,
 'buttons': 399,
 'used': 2280,
 'check': 447,
 'my': 1319,
 'sorry': 1988,
 'charger': 440,
 'included': 1008,
 'reasonable offers': 1740,
 'like new': 1161,
 'new still': 1377,
 'it in': 1067,
 'in perfect': 993,
 'used condition': 2284,
 'check my': 448,
 'only': 1499,
 'new never': 1368,
 'never used': 1353,
 'colors are': 490,
 'brand new never': 343,
 'new never used': 1371,
 'listings': 1186,
 'shop': 1884,
 'ship': 1859,
 'following': 755,
 'days': 577,
 'purchase': 1703,
 'forever': 784,
 '21': 22,
 'brandy': 349,
 'melville': 1270,
 'baseball': 243,
 'tee': 2093,
 'never worn': 1355,
 'my listings': 1324,
 'the following': 2123,
 'but it': 389,
 'forever 21': 785,
 'brandy melville': 350,
 'lot': 1206,
 'life': 1150,
 'but they': 395,
 'still have': 2020,
 'lot of': 1207,
 'of life': 1445,
 'iphone': 1025,
 '6s': 57,
 'iphone plus': 1030,
 'plus 6s': 1648,
 '6s plus': 58,
 'time': 2176,
 'one time': 1496,
 'beautiful': 259,
 'ties': 2174,
 'cream': 552,
 'liner': 1169,
 'bottom': 316,
 'stretch': 2034,
 'hollister': 949,
 'jeans': 1090,
 'see': 1827,
 'tag': 2072,
 'near': 1338,
 'belt': 276,
 'favorite': 711,
 'please see': 1646,
 'waterproof': 2339,
 '17': 15,
 'other': 1526,
 'see my': 1828,
 'my other': 1325,
 'logo': 1192,
 'band': 237,
 'push': 1711,
 'push up': 1712,
 'unused': 2266,
 'beauty': 260,
 'mist': 1296,
 'new unused': 1379,
 'big': 280,
 'dog': 623,
 'retro': 1761,
 'cute': 566,
 'us': 2275,
 'absolutely': 69,
 'soft': 1975,
 'genuine': 834,
 'real': 1736,
 'fur': 824,
 'gorgeous': 864,
 'long': 1193,
 'candy': 418,
 'panty': 1572,
 'girl': 840,
 'who': 2370,
 'everything': 676,
 'gift': 837,
 'unicorn': 2260,
 'princess': 1684,
 'kitty': 1107,
 'jewelry': 1093,
 'wild': 2374,
 'wedding': 2351,
 'party': 1577,
 'gift for': 838,
 'fits': 736,
 'super': 2051,
 'leggings': 1137,
 'waist': 2326,
 'elastic': 662,
 'one size': 1494,
 'size fits': 1920,
 'super soft': 2055,
 'one size fits': 1495,
 'pre': 1666,
 'owned': 1549,
 'some': 1982,
 'light': 1152,
 'scratches': 1813,
 'hardware': 900,
 'use': 2278,
 'comes': 497,
 'pre owned': 1667,
 'scratches on': 1814,
 'comes with': 501,
 'wear': 2345,
 'spots': 1999,
 'which': 2364,
 'believe': 273,
 'has some': 907,
 'some wear': 1983,
 'to the': 2205,
 'can be': 411,
 'power': 1665,
 'cord': 537,
 'controller': 533,
 'pack': 1551,
 'games': 827,
 'doesn': 622,
 'the top': 2143,
 'top is': 2223,
 '34': 40,
 'will': 2375,
 'bundle': 365,
 'save': 1803,
 'feel': 714,
 'will bundle': 2379,
 'bundle to': 372,
 'to save': 2197,
 'save on': 1804,
 'on shipping': 1476,
 'you have': 2474,
 'have any': 911,
 'please feel': 1639,
 'feel free': 715,
 'free to': 805,
 'to ask': 2183,
 'bundle to save': 373,
 'to save on': 2198,
 'save on shipping': 1805,
 'if you have': 967,
 'you have any': 2475,
 'have any questions': 912,
 'please feel free': 1640,
 'feel free to': 716,
 'free to ask': 806,
 'kylie': 1114,
 'happy': 893,
 'matte': 1250,
 'mini': 1286,
 'lipstick': 1176,
 'kit': 1106,
 'pcs': 1582,
 'firm': 726,
 'not': 1422,
 'takes': 2078,
 'usps': 2296,
 'within': 2415,
 '24': 25,
 'hours': 956,
 '48': 50,
 'week': 2352,
 'never opened': 1352,
 'price is': 1674,
 'is firm': 1039,
 'will not': 2383,
 'not be': 1423,
 'ship within': 1862,
 'within 24': 2416,
 '24 hours': 26,
 'new never opened': 1370,
 'price is firm': 1675,
 'within 24 hours': 2417,
 'looks': 1201,
 'ready': 1734,
 'shipped': 1864,
 'print': 1685,
 'comfy': 505,
 'quality': 1714,
 'where': 2363,
 'every': 674,
 'lightly': 1157,
 'lined': 1168,
 'ships': 1877,
 'same': 1793,
 'seller': 1833,
 'fee': 713,
 'new and': 1358,
 'and is': 139,
 'ready to': 1735,
 'to be': 2184,
 'be shipped': 252,
 'made by': 1223,
 'secret pink': 1826,
 '100 authentic': 3,
 'free ship': 799,
 'same day': 1794,
 'shipping and': 1866,
 'brand new and': 341,
 'victoria secret pink': 2317,
 '36': 42,
 'will be': 2376,
 'fast': 705,
 'find': 723,
 'more': 1307,
 'sell': 1832,
 'make': 1231,
 'bundles': 377,
 'fast free': 707,
 'in my': 987,
 'listings for': 1187,
 'everything is': 677,
 'is new': 1050,
 'for free': 768,
 'fast free shipping': 708,
 'for free shipping': 769,
 'smoking': 1960,
 'bought': 319,
 'ago': 91,
 'return': 1762,
 'these': 2150,
 'things': 2160,
 'buy': 400,
 'piece': 1612,
 'after you': 88,
 'you buy': 2467,
 'too big': 2216,
 'big for': 281,
 'for my': 775,
 'too big for': 2217,
 'black': 288,
 'outside': 1543,
 'gray': 866,
 'inside': 1017,
 'warm': 2333,
 'runs': 1785,
 'true': 2243,
 'and in': 138,
 'in like': 986,
 'new condition': 1361,
 'true to': 2244,
 'to size': 2203,
 'like new condition': 1162,
 'true to size': 2245,
 'slime': 1942,
 'approximately': 180,
 'kind': 1105,
 'an': 119,
 'air': 92,
 'tight': 2175,
 'container': 529,
 'easy': 656,
 'bath': 245,
 'very soft': 2312,
 'it is': 1068,
 'this item': 2165,
 'comes in': 500,
 'bath and': 246,
 'and body': 128,
 'body works': 306,
 'bath and body': 247,
 'off': 1456,
 'shoulder': 1891,
 'crop': 555,
 'euc': 671,
 'sleeves': 1938,
 'actual': 75,
 'navy': 1336,
 'blue': 300,
 'stripes': 2039,
 'crop top': 556,
 'navy blue': 1337,
 'blue and': 301,
 'let': 1145,
 'me': 1258,
 'know': 1110,
 'want': 2331,
 'pictures': 1611,
 'sure': 2059,
 'discount': 611,
 'usually': 2297,
 'monday': 1303,
 'post': 1662,
 'office': 1460,
 'issues': 1058,
 'contact': 527,
 'soon': 1987,
 'super comfy': 2052,
 'let me': 1146,
 'me know': 1262,
 'know if': 1111,
 'you want': 2483,
 'ask for': 212,
 'are not': 188,
 'not sure': 1430,
 'the same': 2139,
 'please contact': 1633,
 'contact me': 528,
 'as you': 207,
 'let me know': 1147,
 'me know if': 1263,
 'know if you': 1112,
 'if you want': 970,
 'please contact me': 1634,
 '3d': 45,
 'lash': 1124,
 'lashes': 1125,
 'package': 1552,
 'it will': 1074,
 'in package': 991,
 'never been': 1349,
 'been opened': 264,
 'ships within': 1878,
 'new in package': 1366,
 'sz': 2071,
 'large': 1122,
 'color black': 485,
 'led': 1134,
 'shoes': 1883,
 'kids': 1104,
 'red': 1743,
 'purple': 1709,
 'yellow': 2460,
 'different': 606,
 'unisex': 2262,
 'boys': 332,
 '10': 1,
 'in one': 989,
 'white and': 2368,
 'year': 2458,
 'vintage': 2320,
 'hot': 954,
 'bundle for': 368,
 'colored': 487,
 'strapless': 2032,
 'cup': 561,
 'message': 1275,
 'message me': 1276,
 'me with': 1265,
 '2017': 21,
 'rae': 1720,
 'dunn': 644,
 'holiday': 947,
 'mug': 1314,
 'another': 165,
 'keep': 1100,
 'give': 842,
 'someone': 1984,
 'special': 1993,
 'we': 2343,
 'care': 426,
 'order': 1517,
 'when': 2361,
 'help': 930,
 'rating': 1728,
 'rae dunn': 1721,
 'with care': 2398,
 'your order': 2492,
 'wood': 2426,
 'necklace': 1340,
 'earrings': 654,
 'together': 2212,
 'all are': 94,
 'pure': 1708,
 'honey': 951,
 'stains': 2005,
 'tears': 2091,
 'target': 2084,
 'condition no': 516,
 'no stains': 1411,
 'stains or': 2006,
 'or tears': 1514,
 'easy to': 657,
 'to use': 2206,
 'great condition no': 869,
 'condition no stains': 518,
 'no stains or': 1412,
 'wireless': 2391,
 'bluetooth': 302,
 'diamond': 603,
 'ring': 1768,
 'most': 1311,
 'this is': 2163,
 'is very': 1057,
 'bag': 234,
 'hard': 896,
 'background': 231,
 'always': 112,
 'bundling': 378,
 'with tag': 2407,
 'hard to': 897,
 'to find': 2188,
 'made in': 1224,
 'check out': 449,
 'out my': 1536,
 'other listings': 1528,
 'brand new with': 346,
 'new with tag': 1381,
 'hard to find': 898,
 'check out my': 450,
 'out my other': 1538,
 'my other listings': 1327,
 'other listings for': 1529,
 'distressed': 615,
 'slim': 1941,
 'jeans size': 1091,
 'size xs': 1928,
 'denim': 590,
 'of my': 1447,
 'men': 1271,
 'xxl': 2457,
 'good': 856,
 'mark': 1242,
 'sleeve': 1937,
 'in good': 981,
 'good condition': 857,
 'in good condition': 982,
 '925': 62,
 'closure': 470,
 '16': 14,
 'inches': 1006,
 'length': 1139,
 'flaws': 747,
 'selling': 1834,
 'don': 625,
 '35': 41,
 'cotton': 543,
 '18': 16,
 'no flaws': 1397,
 'just don': 1097,
 'wear it': 2347,
 'condition no flaws': 517,
 'armour': 193,
 'half': 882,
 'zip': 2497,
 'jacket': 1088,
 'awesome': 226,
 'med': 1268,
 'under armour': 2259,
 'ratings': 1729,
 'protection': 1696,
 'extremely': 688,
 'ignored': 972,
 'factory': 699,
 'sealed': 1821,
 'packaging': 1554,
 'asap': 208,
 'page': 1560,
 'cases': 432,
 'allow': 106,
 'tracking': 2233,
 'please check': 1631,
 'have no': 915,
 'you purchase': 2479,
 'be ignored': 251,
 'my page': 1328,
 'page for': 1561,
 'will be ignored': 2377,
 'will be shipped': 2378,
 'my page for': 1329,
 'overall': 1546,
 'signs': 1902,
 'signs of': 1903,
 'of wear': 1454,
 'signs of wear': 1904,
 'fine': 724,
 'fashion': 704,
 'type': 2254,
 'chain': 436,
 '60': 56,
 'cm': 474,
 '15': 13,
 'pictured': 1610,
 'sample': 1798,
 'highly': 940,
 'scented': 1809,
 'wax': 2340,
 'essential': 669,
 'oil': 1461,
 'candle': 417,
 'guaranteed': 878,
 'safe': 1790,
 'durable': 645,
 'home': 950,
 'fragrance': 790,
 'amazing': 115,
 'scent': 1808,
 'night': 1390,
 'room': 1776,
 'business': 380,
 'area': 191,
 'house': 957,
 'decor': 585,
 'styles': 2042,
 'compatible': 508,
 'listed': 1181,
 'profile': 1693,
 'additional': 79,
 'added': 78,
 'per': 1590,
 'regular': 1745,
 'again': 89,
 'our': 1534,
 'in your': 1004,
 'compatible with': 509,
 'with any': 2395,
 'high quality': 936,
 'probably': 1689,
 'best': 277,
 'old': 1463,
 'up to': 2269,
 'extra': 687,
 'responsible': 1754,
 'new no': 1373,
 'not responsible': 1428,
 'responsible for': 1755,
 'not responsible for': 1429,
 'hold': 941,
 'do': 616,
 'these are': 2151,
 'on hold': 1470,
 'do not': 618,
 'both': 312,
 'come': 495,
 'ones': 1497,
 'then': 2146,
 'burgundy': 379,
 'separately': 1838,
 'both are': 313,
 'are brand': 182,
 'not come': 1424,
 'come with': 496,
 'are brand new': 183,
 'new never worn': 1372,
 'not come with': 1425,
 'stone': 2025,
 'look': 1197,
 'details': 599,
 'crystal': 560,
 'with the': 2410,
 'brown': 357,
 'sheer': 1853,
 'flower': 751,
 'front': 816,
 'without': 2419,
 'shade': 1847,
 'cosmetics': 539,
 'ml': 1299,
 'coverage': 550,
 'looking': 1199,
 'brands': 348,
 'through': 2172,
 'search': 1822,
 'using': 2295,
 'space': 1990,
 'above': 68,
 'new without': 1383,
 'original packaging': 1522,
 'looking for': 1200,
 'don have': 627,
 'all my': 100,
 'so you': 1972,
 'need': 1341,
 'create': 553,
 'follow': 754,
 'natural': 1335,
 'line': 1167,
 'features': 712,
 'powder': 1664,
 'thin': 2158,
 'brush': 358,
 'apply': 178,
 'effect': 660,
 'you need': 2478,
 'need to': 1342,
 'you to': 2482,
 'have the': 917,
 'used to': 2294,
 'sheet': 1854,
 'set': 1841,
 'fading': 701,
 'fully': 820,
 'flat': 743,
 'pillow': 1616,
 'fitted': 738,
 'trim': 2242,
 'hot pink': 955,
 'light pink': 1154,
 'dvd': 649,
 'include': 1007,
 'rise': 1772,
 'disc': 610,
 'workout': 2431,
 'set of': 1842,
 'and the': 155,
 'play': 1625,
 'used but': 2283,
 'but still': 393,
 'tops': 2227,
 'season': 1823,
 'anymore': 171,
 'condition worn': 524,
 'good used': 862,
 'good used condition': 863,
 'holes': 945,
 'taken': 2077,
 '11': 8,
 'spring': 2001,
 'summer': 2048,
 'fall': 703,
 'great shape': 874,
 'size 11': 1916,
 'show': 1892,
 'wear and': 2346,
 'toy': 2231,
 'canvas': 420,
 'gently': 831,
 'loved': 1212,
 'lots': 1209,
 'left': 1135,
 'wash': 2335,
 'son': 1986,
 'wore': 2427,
 'lots of': 1210,
 'life left': 1151,
 'no holes': 1402,
 'of life left': 1446,
 'won': 2425,
 'though': 2170,
 'system': 2070,
 'completely': 511,
 'second': 1824,
 'shows': 1897,
 'cost': 540,
 'how': 958,
 'ordered': 1518,
 'shades': 1848,
 'match': 1247,
 'face': 696,
 'primer': 1683,
 'their': 2144,
 'website': 2350,
 'and they': 156,
 'me for': 1260,
 'it was': 1073,
 'it and': 1060,
 ...}

In [123]:
#  create a dictionary mapping the tokens to their tfidf values
tfidf = dict(zip(vectorizer.get_feature_names(), vectorizer.idf_))
tfidf = pd.DataFrame(columns=['description_text_tfidf']).from_dict(dict(tfidf), orient='index')
tfidf.columns = ['description_text_tfidf']

In [124]:
# features with highest tf-idf (in title)
tfidf.sort_values(by=['description_text_tfidf'], ascending=False).head(20)

               description_text_tfidf
pipes                        9.532511
note note                    8.140242
teeth                        7.754545
s6 edge                      7.723212
generation                   7.717619
ipad mini                    7.703223
acne                         7.570585
ipod touch                   7.496821
playstation                  7.494587
labels                       7.466429
plus 6s                      7.459081
decal                        7.455641
cm                           7.440732
patch                        7.428544
devices                      7.428544
apple iphone                 7.427709
lash                         7.426041
remote                       7.418569
iphone iphone                7.415266
charms                       7.403790

view the data again

In [83]:
train_df.head()

,train_id,name,item_condition_id,brand_name,price,shipping,item_description,general_category,subcategory_1,subcategory_2,char_count,word_count,word_density
0,0,MLB Cincinnati Reds T Shirt Size XL,3,NoBrand,10.000000,1,No description yet,Men,Tops,T-shirts,18,3,4.500000
1,1,Razer BlackWidow Chroma Keyboard,3,Razer,52.000000,0,This keyboard is in great condition and works ...,Electronics,Computers & Tablets,Components & Parts,188,36,5.081081
2,2,AVA-VIV Blouse,1,Target,10.000000,1,Adorable top with a hint of lace and a key hol...,Women,Tops & Blouses,Blouse,124,29,4.133333
3,3,Leather Horse Statues,1,NoBrand,35.000000,1,New with tags. Leather horses. Retail for [rm]...,Home,Home Décor,Home Décor Accents,173,32,5.242424
4,4,24K GOLD plated rose,1,NoBrand,44.000000,0,Complete with certificate of authenticity,Women,Jewelry,Necklaces,41,5,6.833333

In [84]:
test_df.head()

,test_id,name,item_condition_id,brand_name,shipping,item_description,general_category,subcategory_1,subcategory_2,char_count,word_count,word_density
0,0,"Breast cancer ""I fight like a girl"" ring",1,NoBrand,1,Size 7,Women,Jewelry,Rings,6,2,2.000000
1,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers",1,NoBrand,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers Lined...",Other,Office supplies,Shipping Supplies,251,38,6.435897
2,2,Coach bag,1,Coach,1,Brand new coach bag. Bought for [rm] at a Coac...,Vintage & Collectibles,Bags and Purses,Handbag,55,11,4.583333
3,3,Floral Kimono,2,NoBrand,0,-floral kimono -never worn -lightweight and pe...,Women,Sweaters,Cardigan,67,10,6.090909
4,4,Life after Death,3,NoBrand,1,Rediscovering life after the loss of a loved o...,Other,Books,Religion & Spirituality,167,29,5.566667

checking the shape again

In [75]:
print('Train shape: {}\nTest shape: {}'.format(train_df.shape, test_df.shape))

Train shape: (1482535, 10)
Test shape: (693359, 9)