# [Mercari Price Suggestion Challenge](https://www.kaggle.com/c/mercari-price-suggestion-challenge)
Can you automatically suggest product prices to online sellers?

# Import packages
- pandas
- numpy
- TfidfVectorizer

In [11]:
import pandas as pd #data processing
import numpy as np #linear algebra
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS, TfidfVectorizer #to calculate Tf-idf

# Import data
load train and test data, split by tab because of the tsv format.

In [12]:
%%time
train_df = pd.read_csv("data/train.tsv", delimiter="\t", low_memory= True)
test_df = pd.read_csv("data/test.tsv", delimiter="\t", low_memory= True)

CPU times: user 6.94 s, sys: 628 ms, total: 7.57 s
Wall time: 6.66 s

In [13]:
train_df.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [14]:
train_df.columns

Index(['train_id', 'name', 'item_condition_id', 'category_name', 'brand_name',
       'price', 'shipping', 'item_description'],
      dtype='object')

# data preprocessing

### checking missing values

In [15]:
def print_null(data):
    """
    prints null value of the given data
    """
    print(data.isnull().sum()[data.isnull().sum() != 0])

print_null(train_df)
print("------------")
print_null(test_df)

category_name         6327
brand_name          632682
item_description         4
dtype: int64
------------
category_name      3058
brand_name       295525
dtype: int64

found missing values in category_name, brand_name, and item_discription
- Fill products with no brand name with 'NoBrand'
- Fill products with no category name with 'No/No/No'
- Fill products with no item descriptions with 'No description yet' (same as the first data)

In [16]:
def input_missing_values(data):
    """
    input missing values for brand_name, category_name, and item_description
    """
    if data["brand_name"].isnull().sum() != 0:
        data["brand_name"] = data["brand_name"].fillna("NoBrand")
    if data["category_name"].isnull().sum() != 0:
        data["category_name"] = data["category_name"].fillna("No/No/No")
    if data["item_description"].isnull().sum() != 0:
        data["item_description"] = data["item_description"].fillna("No description yet")
        
input_missing_values(train_df)
input_missing_values(test_df)

In [17]:
print_null(train_df)
print("------------")
print_null(test_df)

Series([], dtype: int64)
------------
Series([], dtype: int64)

### converting column types

In [13]:
print(train_df.dtypes)
print("------------")
print(test_df.dtypes)

train_id               int64
name                  object
item_condition_id      int64
category_name         object
brand_name            object
price                float64
shipping               int64
item_description      object
dtype: object
------------
test_id               int64
name                 object
item_condition_id     int64
category_name        object
brand_name           object
shipping              int64
item_description     object
dtype: object

converting column data types to minimize memory

In [14]:
def col_type_conversion(data):
    """
    type conversion for certain columns
    """
    data["item_condition_id"] = data["item_condition_id"].astype("int32")
    data["shipping"] = data["shipping"].astype("int8")

col_type_conversion(train_df)
col_type_conversion(test_df)

In [15]:
print(train_df.dtypes)
print("------------")
print(test_df.dtypes)

train_id               int64
name                  object
item_condition_id      int32
category_name         object
brand_name            object
price                float64
shipping                int8
item_description      object
dtype: object
------------
test_id               int64
name                 object
item_condition_id     int32
category_name        object
brand_name           object
shipping               int8
item_description     object
dtype: object

do a little exploring on discriptive statistics

In [16]:
print("train_df shape: {}\ntest_df shape: {}".format(train_df.shape, test_df.shape))

train_df shape: (5000, 8)
test_df shape: (5000, 7)

In [17]:
pd.set_option("float_format", "{:f}".format)
train_df.describe()

         train_id  item_condition_id       price    shipping
count 5000.000000        5000.000000 5000.000000 5000.000000
mean  2499.500000           1.899200   26.509900    0.455600
std   1443.520003           0.909728   41.432072    0.498075
min      0.000000           1.000000    0.000000    0.000000
25%   1249.750000           1.000000   10.000000    0.000000
50%   2499.500000           2.000000   16.000000    0.000000
75%   3749.250000           3.000000   29.000000    1.000000
max   4999.000000           5.000000 1506.000000    1.000000

checking individual values

In [18]:
train_df.apply(lambda x: x.nunique())

train_id             5000
name                 4940
item_condition_id       5
category_name         512
brand_name            513
price                 172
shipping                2
item_description     4639
dtype: int64

# feature engineering

extracting data from category_name and item_discription

split category_name into:
- general_category
- subcategory_1
- subcategory_2

In [23]:
%%time
def split_category_name(data):
    """
    perform split on category name to general_category, subcategory_1, and subcategory_2
    """
    split_category_name = data["category_name"].str.split("/", n = 2, expand = True)
    data["general_category"] = split_category_name[0]
    data["subcategory_1"] = split_category_name[1]
    data["subcategory_2"] = split_category_name[2]
    return data[["general_category", "subcategory_1", "subcategory_2"]].head()

split_category_name(train_df)
split_category_name(test_df)

CPU times: user 42.7 ms, sys: 6.05 ms, total: 48.8 ms
Wall time: 55.9 ms

         general_category    subcategory_1            subcategory_2
0                   Women          Jewelry                    Rings
1                   Other  Office supplies        Shipping Supplies
2  Vintage & Collectibles  Bags and Purses                  Handbag
3                   Women         Sweaters                 Cardigan
4                   Other            Books  Religion & Spirituality

dealing with item_description:
<br>[Extensive Text Data Feature Engineering](https://www.kaggle.com/shivamb/extensive-text-data-feature-engineering)
- character length
- word count
- word density

In [24]:
train_df.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,general_category,subcategory_1,subcategory_2
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NoBrand,10.000000,1,No description yet,Men,Tops,T-shirts
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.000000,0,This keyboard is in great condition and works ...,Electronics,Computers & Tablets,Components & Parts
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.000000,1,Adorable top with a hint of lace and a key hol...,Women,Tops & Blouses,Blouse
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NoBrand,35.000000,1,New with tags. Leather horses. Retail for [rm]...,Home,Home Décor,Home Décor Accents
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NoBrand,44.000000,0,Complete with certificate of authenticity,Women,Jewelry,Necklaces

In [25]:
%%time
def text_data_fe(data, col):
    """
    feature engineering procedure on text data
    """
    data[(col+"_char_count")] = data[col].apply(len)
    data[(col+"_word_count")] = data[col].apply(lambda x: len(x.split()))
    data[(col+"_word_density")] = data[(col+"_char_count")] / (data[(col+"_word_count")]+1)
    return data[[(col+"_char_count"), (col+"_word_count"), (col+"_word_density")]].head()

text_data_fe(train_df, "item_description")
text_data_fe(test_df, "item_description")

CPU times: user 36.4 ms, sys: 8.37 ms, total: 44.8 ms
Wall time: 50.2 ms

,item_description_char_count,item_description_word_count,item_description_word_density
0,6,2,2.000000
1,251,38,6.435897
2,55,11,4.583333
3,67,10,6.090909
4,167,29,5.566667

In [26]:
text_data_fe(train_df, "name")
text_data_fe(test_df, "name")

   name_char_count  name_word_count  name_word_density
0               40                8           4.444444
1               40                7           5.000000
2                9                2           3.000000
3               13                2           4.333333
4               16                3           4.000000

[CountVectorizer, TfidfVectorizer, Predict Comments](https://www.kaggle.com/adamschroeder/countvectorizer-tfidfvectorizer-predict-comments)
<br>[Using TfidfVectorizer output to create columns in a pandas df](https://www.reddit.com/r/learnpython/comments/7aduzh/using_tfidfvectorizer_output_to_create_columns_in/)
<br>[Check if multiple strings exist in another string](https://stackoverflow.com/questions/3389574/check-if-multiple-strings-exist-in-another-string)
- top tfidf word
- top tfidf value

In [27]:
def text_data_tfidf_fe(data, col):
    """
    turn description columns into tfidf word and value column
    """
    my_max_features = 2500
    my_stop_words = ENGLISH_STOP_WORDS.union(["rm", "co", "se"])
    
    vectorizer = TfidfVectorizer(min_df=3, max_features=my_max_features, dtype=np.float32, 
                             strip_accents="unicode", analyzer="word", ngram_range=(1, 3), 
                             stop_words=my_stop_words)
    text = list(train_df[col].values)
    tfidf_matrix = vectorizer.fit_transform(text)
    
    tfidf = dict(zip(vectorizer.get_feature_names(), vectorizer.idf_))
    tfidf_df = pd.DataFrame(columns=["text_tfidf"]).from_dict(dict(tfidf), orient='index')
    tfidf_df.columns = ["text_tfidf"]

    top_n = int(round(my_max_features*0.1))
    top_n_tfidf = tfidf_df.sort_values(by=["text_tfidf"], ascending=False).head(top_n)
    print(top_n_tfidf)
    
    top_tfidf_word = []
    top_tfidf_value = []
    for i in range(len(list(data[col].values))):
        match = next((word for word in top_n_tfidf.index if word in data[col][i]), False)
        if match != False:
            chosen_word = match
            chosen_tfidf = float(top_n_tfidf.loc[match])
            #print(chosen_word, chosen_tfidf)
            top_tfidf_word.insert(i, chosen_word)
            top_tfidf_value.insert(i, chosen_tfidf)
            #break
        else:
            chosen_word = "None"
            chosen_tfidf = 0.0
            top_tfidf_word.insert(i, chosen_word)
            top_tfidf_value.insert(i, chosen_tfidf)
            continue
    data[(col+"_top_tfidf_word")] = top_tfidf_word
    data[(col+"_top_tfidf_value")] = top_tfidf_value
    return data[[(col+"_top_tfidf_word"), (col+"_top_tfidf_value")]].head()

In [28]:
%%time
text_data_tfidf_fe(train_df, "item_description")
text_data_tfidf_fe(test_df, "item_description")

               text_tfidf
hdmi             8.131099
pipes            8.131099
for cases for    7.907955
sprinkles        7.907955
henna            7.907955
...                   ...
on one           6.952444
on all           6.952444
retail for       6.952444
returns          6.952444
for brand        6.952444

[500 rows x 1 columns]
                text_tfidf
pipe              8.131099
pieces of         8.131099
hp                8.131099
printer           7.907955
cases for         7.907955
...                    ...
faced             6.878336
faded             6.878336
is made           6.878336
please comment    6.878336
support           6.878336

[500 rows x 1 columns]
CPU times: user 27.2 s, sys: 148 ms, total: 27.4 s
Wall time: 27.4 s

  item_description_top_tfidf_word  item_description_top_tfidf_value
0                            None                          0.000000
1                             sea                          7.214808
2                            None                          0.000000
3                             her                          7.032486
4                            loss                          6.952444

In [29]:
%%time
text_data_tfidf_fe(train_df, "name")
text_data_tfidf_fe(test_df, "name")

               text_tfidf
00g              8.131099
lularoe tween    8.131099
lace dress       8.131099
laptop           8.131099
large tote       8.131099
...                   ...
cloth diapers    8.131099
amber            8.131099
army             8.131099
cards            8.131099
avon             8.131099

[500 rows x 1 columns]
                text_tfidf
zipper            8.131099
comfort           8.131099
insulated         8.131099
tumbler           8.131099
iphone charger    8.131099
...                    ...
banner            8.131099
your              8.131099
camp              8.131099
bare              8.131099
adult             8.131099

[500 rows x 1 columns]
CPU times: user 41.2 s, sys: 138 ms, total: 41.3 s
Wall time: 41.5 s

  name_top_tfidf_word  name_top_tfidf_value
0                  as              8.131099
1                None              0.000000
2                None              0.000000
3                None              0.000000
4                None              0.000000

view the data again

In [30]:
train_df.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,general_category,subcategory_1,...,item_description_char_count,item_description_word_count,item_description_word_density,name_char_count,name_word_count,name_word_density,item_description_top_tfidf_word,item_description_top_tfidf_value,name_top_tfidf_word,name_top_tfidf_value
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NoBrand,10.000000,1,No description yet,Men,Tops,...,18,3,4.500000,35,7,4.375000,de,7.214808,None,0.000000
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.000000,0,This keyboard is in great condition and works ...,Electronics,Computers & Tablets,...,188,36,5.081081,32,4,6.400000,his,7.119498,None,0.000000
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.000000,1,Adorable top with a hint of lace and a key hol...,Women,Tops & Blouses,...,124,29,4.133333,14,2,4.666667,la,7.214808,se,8.131099
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NoBrand,35.000000,1,New with tags. Leather horses. Retail for [rm]...,Home,Home Décor,...,173,32,5.242424,21,3,5.250000,pin,7.032486,se,8.131099
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NoBrand,44.000000,0,Complete with certificate of authenticity,Women,Jewelry,...,41,5,6.833333,20,4,4.000000,authenticity,7.119498,plated,8.131099

In [31]:
test_df.head()

,test_id,name,item_condition_id,category_name,brand_name,shipping,item_description,general_category,subcategory_1,subcategory_2,item_description_char_count,item_description_word_count,item_description_word_density,name_char_count,name_word_count,name_word_density,item_description_top_tfidf_word,item_description_top_tfidf_value,name_top_tfidf_word,name_top_tfidf_value
0,0,"Breast cancer ""I fight like a girl"" ring",1,Women/Jewelry/Rings,NoBrand,1,Size 7,Women,Jewelry,Rings,6,2,2.000000,40,8,4.444444,None,0.000000,as,8.131099
1,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers",1,Other/Office supplies/Shipping Supplies,NoBrand,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers Lined...",Other,Office supplies,Shipping Supplies,251,38,6.435897,40,7,5.000000,sea,7.214808,None,0.000000
2,2,Coach bag,1,Vintage & Collectibles/Bags and Purses/Handbag,Coach,1,Brand new coach bag. Bought for [rm] at a Coac...,Vintage & Collectibles,Bags and Purses,Handbag,55,11,4.583333,9,2,3.000000,None,0.000000,None,0.000000
3,3,Floral Kimono,2,Women/Sweaters/Cardigan,NoBrand,0,-floral kimono -never worn -lightweight and pe...,Women,Sweaters,Cardigan,67,10,6.090909,13,2,4.333333,her,7.032486,None,0.000000
4,4,Life after Death,3,Other/Books/Religion & Spirituality,NoBrand,1,Rediscovering life after the loss of a loved o...,Other,Books,Religion & Spirituality,167,29,5.566667,16,3,4.000000,loss,6.952444,None,0.000000

checking the shape again

In [32]:
print('Train shape: {}\nTest shape: {}'.format(train_df.shape, test_df.shape))

Train shape: (5000, 21)
Test shape: (5000, 20)

# Output Data
output data as csv

In [33]:
train_df.to_csv("train_df.csv", index=False)
test_df.to_csv("test_df.csv", index=False)